<div class="container">
  <h1>Todo App</h1>

  <input #todoTitle type="text" placeholder="Enter todo" />
  <button (click)="addTodo(todoTitle.value); todoTitle.value='';">Add Todo</button>

  <h2>Todo List</h2>
  <ul>
    <li *ngFor="let todo of todos$ | async">
      <span [ngClass]="{ completed: todo.completed }">{{ todo.title }}</span>
      <button (click)="toggleTodo(todo.id)">Toggle</button>
      <button (click)="removeTodo(todo.id)">Remove</button>
    </li>
  </ul>

  <h2>Completed Todos</h2>
  <ul>
    <li *ngFor="let todo of completedTodos$ | async">
      {{ todo.title }}
    </li>
  </ul>
</div>
